@model IEnumerable<Cebelica.Models.ProductsModel>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center; vertical-align: top;">
                    @if (!string.IsNullOrEmpty(item.PicturePath))
                    {
                        <div>
                            <img src="@item.PicturePath" alt="Product Picture" style="width: 400px; height: auto;" />
                        </div>
                    }
                    <div style="margin-top: 10px; font-weight: bold;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div style="margin-top: 5px; font-style: italic;">
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    <div style="margin-top: 5px; color: green; font-weight: bold;">
                        @Html.DisplayFor(modelItem => item.Price)
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
