/* Navbar Brand */
a.navbar-brand[b-tl30xzmj2t] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #5A4638; /* Dark brown text */
}

    a.navbar-brand:hover[b-tl30xzmj2t] {
        color: #DAA520; /* Golden hover effect */
    }

/* Links */
a[b-tl30xzmj2t] {
    color: #DAA520; /* Golden links */
    text-decoration: none;
}

    a:hover[b-tl30xzmj2t] {
        color: #FFB84D; /* Honey yellow on hover */
        text-decoration: underline;
    }

/* Buttons */
.btn-primary[b-tl30xzmj2t] {
    color: #5A4638; /* Dark brown text */
    background-color: #FFB84D; /* Honey yellow background */
    border-color: #DAA520; /* Golden border */
}

    .btn-primary:hover[b-tl30xzmj2t] {
        background-color: #FF9933; /* Darker honey yellow on hover */
        border-color: #B8860B; /* Deep golden brown border */
    }

/* Nav Pills */
.nav-pills .nav-link.active[b-tl30xzmj2t],
.nav-pills .show > .nav-link[b-tl30xzmj2t] {
    color: #FFF; /* White text */
    background-color: #FFB84D; /* Honey yellow background */
    border-color: #DAA520; /* Golden border */
}

/* Borders */
.border-top[b-tl30xzmj2t] {
    border-top: 1px solid #FFD700; /* Golden border */
}

.border-bottom[b-tl30xzmj2t] {
    border-bottom: 1px solid #FFD700; /* Golden border */
}

/* Box Shadow */
.box-shadow[b-tl30xzmj2t] {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* Softer shadow */
}

/* Accept Policy Button */
button.accept-policy[b-tl30xzmj2t] {
    font-size: 1rem;
    line-height: inherit;
    color: #5A4638; /* Dark brown text */
    background-color: #FFB84D; /* Honey yellow */
    border: 1px solid #DAA520; /* Golden border */
}

    button.accept-policy:hover[b-tl30xzmj2t] {
        background-color: #FF9933; /* Darker honey yellow on hover */
        border-color: #B8860B; /* Deep golden brown border */
    }


/* Footer */
.footer[b-tl30xzmj2t] {
    background-color: #FFD700; /* Golden background */
    color: #5A4638; /* Dark brown text */
    text-align: center; /* Center the text */
    line-height: 60px; /* Adjust line height */
    padding: 10px 0;
    width: 100%; /* Ensure it spans the full width */
    position: relative;
    bottom: 0; /* This makes the footer appear at the bottom of the page */
}

    .footer a[b-tl30xzmj2t] {
        color: #5A4638; /* Dark brown links */
    }

        .footer a:hover[b-tl30xzmj2t] {
            color: #FFB84D; /* Honey yellow on hover */
        }
