@{
    ViewData["Title"] = "Home Page";
}

<div>
    Cookies accepted: @(ViewBag.CookiesAccepted ? "Yes" : "No")
</div>

<div class="text-center">
    <h1 class="display-4">Urabnova Čebelica</h1>
    <p>
        Urbanova Čebelca iz Ribn'ce doma, medek pobira skrbno nabira da Jaka za posladkat se ma.
    </p>
</div>

<div>
    <video width="720" height="480" autoplay muted loop style="display: block; margin: 0 auto">
        <source src="/videos/PlaceholderHoney.mp4" type="video/mp4">
    </video>
</div>

<div class="text-center">
    <p>
        Malo poveš o medu, s kje je kaj je. Več o tem na About us.
    </p>
</div>


<div class="text-center">
    <h2>Poglejte, poglejte, s čim se naš Urban ukvarja:</h2>
    @await Html.PartialAsync("_ProductsPartialView", (IEnumerable<Cebelica.Models.ProductsModel>)Model)
</div>

<div class="text-center">
    <p> Vas zanima nakup? Kontaktirajte nas na.... </p>
</div>



