@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Urabnova Čebelica</h1>
    <p>
        Magari kratek video na loopu -> 20 sec cca.

        Urbanova Čebelca iz Ribn'ce doma, medek pobira skrbno nabira da Jaka za posladkat se ma.
    </p>
</div>

<section>
    <p>
        Malo poveš o medu, s kje je kaj je. Več o tem na About us.
    </p>
</section>


<section>
    <h2>Poglejte, poglejte, s čim se naš Urban ukvarja:</h2>
    @await Html.PartialAsync("_ProductsPartialView", (IEnumerable<Cebelica.Models.ProductsModel>)Model)
</section>



<footer>
    <div class="footer-content">
        <p>© 2024 Urbanova Čebelica</p>
        <ul>
            <li><a href="Home/Privacy">Privacy Policy</a></li>
            <li><a href="Home/TermsConditions">Terms & Conditions</a></li>
            <li><a href="https://www.instagram.com/urbanovacebelica">Instagram</a></li>
        </ul>
    </div>
</footer>